<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
    estructurar lista que contiene este tipo de datos
    {
        "rule": rule,
        "res": testRes,
        "percentage": {
            "passed": passed,
            "failed": failed,
            "inapplicable": inapplicable,
            "allThatShouldBePassed": allThatShouldBePassed,
            "allThatShouldBeFailed": allThatShouldBeFailed,
            "allThatShouldBeInapplicable": allThatShouldBeInapplicable
        }
    }
    Para conseguir el porcentaje de acierto total, se debe hacer la siguiente operaci贸n:
    (passed + inapplicable + failed) / (allThatShouldBePassed + allThatShouldBeInapplicable + allThatShouldBeFailed) * 100 y redondear a 2 decimales

    Para conseguir el porcentaje de acierto de las reglas que se han pasado, se debe hacer la siguiente operaci贸n:
    passed / allThatShouldBePassed * 100 y redondear a 2 decimales

    Para conseguir el porcentaje de acierto de las reglas que se han fallado, se debe hacer la siguiente operaci贸n:
    failed / allThatShouldBeFailed * 100 y redondear a 2 decimales

    Para conseguir el porcentaje de acierto de las reglas que son inaplicables, se debe hacer la siguiente operaci贸n:
    inapplicable / allThatShouldBeInapplicable * 100 y redondear a 2 decimales
    -->

    <h1>Reglas</h1>
    <ul>
        <% for (let i = 0; i < res.length; i++) { %>
            <li>
                <h2><%= res[i].rule %></h2>
                <p>Porcentaje de acierto: <%= res[i].percentage.passed + res[i].percentage.failed + res[i].percentage.inapplicable %> / <%= res[i].percentage.allThatShouldBePassed + res[i].percentage.allThatShouldBeInapplicable + res[i].percentage.allThatShouldBeFailed %> * 100 = <%= ((res[i].percentage.passed + res[i].percentage.failed + res[i].percentage.inapplicable) / (res[i].percentage.allThatShouldBePassed + res[i].percentage.allThatShouldBeInapplicable + res[i].percentage.allThatShouldBeFailed) * 100).toFixed(2) %>%</p>
                <p>Porcentaje de acierto de las reglas que se han pasado: <%= res[i].percentage.passed %> / <%= res[i].percentage.allThatShouldBePassed %> * 100 = <%= (res[i].percentage.passed / res[i].percentage.allThatShouldBePassed * 100).toFixed(2) %>%</p>
                <p>Porcentaje de acierto de las reglas que se han fallado: <%= res[i].percentage.failed %> / <%= res[i].percentage.allThatShouldBeFailed %> * 100 = <%= (res[i].percentage.failed / res[i].percentage.allThatShouldBeFailed * 100).toFixed(2) %>%</p>
                <p>Porcentaje de acierto de las reglas que son inaplicables: <%= res[i].percentage.inapplicable %> / <%= res[i].percentage.allThatShouldBeInapplicable %> * 100 = <%= (res[i].percentage.inapplicable / res[i].percentage.allThatShouldBeInapplicable * 100).toFixed(2) %>%</p>
            </li>
        <% } %>
    </ul>
</body>
</html>